%h1 About You

%p
  - if @participant.name.nil? || @participant.name == ""
    Thanks,
  - else
    Thanks #{@participant.name},
  first of all we’d like to know a few things about you:

= form_tag save_url(:page => 2, :key => @participant.key) do
  - @questions.length.times do |i|
    - @question, @answer = @questions[i], @answers[i]
    %p
      #{i + 1}. #{@question.text}
      %br
      = render :partial => "answer"
  %p
    3. Do you have an email address?
    %br
    = radio_button_tag :have_email, "y", nil, :class => "required"
    = label_tag :have_email_y, "Yes"
    = radio_button_tag :have_email, "n", nil, :class => "required"
    = label_tag :have_email_n, "No"
  %p#email{:style => "padding-left: 2em;"}
    Your email address:
    %br
    = text_field :participant, :email
    %br
    Confirm your email address:
    %br
    = text_field_tag :email_confirmation, nil, :size => 30
  =render :partial => "continue"

:javascript
  $(configurePage2);
