%h1 Welcome to the HOAP Admin Interface

%p
  <b>Status</b>:
  = pluralize @count, "participant has", "participants have"
  done the survey.
  = link_to 'Export answers', :action => :export

%p
  <b>Import Data File:</b>

= form_tag import_url, :multipart => true do
  = file_field_tag "data_file"
  = submit_tag "Upload"

%p
  <b>Today's Reports:</b>

%ol
  - @participants.each do |pp|
    %li
      = link_to pp.code, report_url(:key => pp.code) + ".pdf"

%p
  = link_to 'All Reports', all_reports_url

%p
  <b>Today's Incomplete Participants:</b>

%ol
  - @incomplete.each do |pp|
    %li
      = link_to pp.code, page_url(:key => pp.key)

%p
  = link_to 'All Incomplete Participants', incomplete_url
