= render "tabbar", :active => :facts

%p
  It can be difficult to keep track of how much alcohol you are drinking
  because:

%ul
  %li glass sizes are not the same in different places
  %li different types of drinks contain different amounts of pure alcohol
  %li
    sometimes drinks are mixed with unknown quantities of alcohol, such as in
    cocktails and alcoholic punches
  %li sometimes jugs and casks are shared
  %li glasses may be “topped up” before they are empty.

%p
  Some of these problems can be overcome by using a standard measure of the
  amount of alcohol that is being drunk, called a “standard drink”.

%h3 Standard Drinks

%p
  Alcohol comes in all different types, colours and containers. Regardless of
  this, an Australian
  = link_to "standard drink", "http://www.alcohol.gov.au/internet/alcohol/publishing.nsf/content/standard"
  contains 10 grams or 12.5mL of pure alcohol. Here are some examples of one
  standard drink: 425ml of light beer, 285ml of full strength beer, 100ml of
  wine, 60ml of fortified wine and 30ml of spirits (a full strength can or
  stubbie of beer is 1.5 standard drinks). By counting standard drinks you can
  keep track of how much you are drinking and how that compares to the
  “Australian guidelines to reduce health risks from drinking alcohol”.

%h3 Australian guidelines to reduce health risks from drinking alcohol

%p
  While there is no safe level of drinking,
  = link_to "guidelines", "http://www.nhmrc.gov.au/your_health/healthy/alcohol/index.htm"
  have been developed to help you protect your health, both physically and
  socially. The National Health and Medical Research Council (NHMRC) <em>Australian
  Guidelines to Reduce Health Risks from Drinking Alcohol</em> recommend:

%ul
  %li
    For healthy men and women to reduce the risk of an alcohol-related injury
    or disease during their lifetime, they should drink no more than two
    standard drinks on any day.
  %li
    For healthy men and women to reduce the risk of an immediate
    alcohol-related injury, they should drink no more than four standard drinks
    on any one occasion.
  %li
    For children and young people under 18 years of age, not drinking is the
    safest option.
  %li
    Parents and carers are advised that children under the age of 15 are at
    greatest risk of harm from drinking and it is especially important that
    they do not drink alcohol.
  %li
    If young people aged 15–17 years choose to drink they should be in a safe
    environment, supervised by adults and stay within the low risk guidelines.
  %li
    For women who are pregnant, are planning a pregnancy, or are breastfeeding,
    not drinking is the safest option.

%h3 Alcohol and Your Body

%p
  Drinking in excess of recommended guidelines can have harmful effects on your
  health. These risks include:

%ul
  %li
    Short-term risks and harms such as hangovers, headaches, nausea, shakiness,
    vomiting, memory loss, risk of falls and injury, assaults, car accidents,
    unplanned pregnancy, and accidental death
  %li
    Long-term risks and harms such as cancer, cirrhosis of the liver, brain
    damage, memory loss and sexual dysfunction.

%h3 Other Effects of Alcohol

%p
  Excessive alcohol use can also affect many other areas of your life,
  including family, work and personal relationships. You may feel ashamed and
  embarrassed by your behaviour while intoxicated. You might experience
  problems at work and legal and financial problems. For example, you might
  lose valuable items such as mobile phones, spend recklessly while
  intoxicated, damage your own or public property, or have to take time off
  work due to hangovers. Controlling your drinks enables you to control your
  behaviour.

%h3 Alcohol and the Law

%p
  Alcohol impairs your judgement, which can lead to doing something you
  wouldn't when sober. Some NSW
  = link_to "laws", "http://www.police.nsw.gov.au/community_issues/alcohol"
  to keep in mind are:

%ul
  %li You can be fined for drinking in alcohol free zones
  %li
    Argumentative, disorderly or violent behaviour isn't acceptable and can get
    you into trouble with the police.

%h3 Driving Under the Influence (DUI)

%p
  NSW has three BAC limits: zero, 0.02 and 0.05. Zero applies to all learner
  drivers and all ‘P’ platers (Provisional 1 and Provisonal 2 drivers); 0.02
  applies to drivers of vehicles of ‘gross vehicle mass’ greater than 13.9
  tonnes, drivers of vehicles carrying dangerous goods, and drivers of public
  vehicles such as taxi or bus drivers; 0.05 applies to all other licences not
  subject to a 0.02 or zero limit.

%p
  = link_to "Drink driving", "http://www.rta.nsw.gov.au/usingroads/penalties/alcoholanddrugs.html"
  is taken very seriously. If you test over the limit at the roadside you will
  be arrested, taken to a Police station for evidentiary breath analysis,
  charged by Police, finger printed, photographed and you will have to appear
  in court. Middle and high range offenders will have their licence suspended
  by Police at the Police Station when they are charged. You could get a fine
  between $1100-$5500, depending on your BAC (the higher it is, the more
  you'll have to pay), and subsequent offences could mean gaol time.

%p
  Drinking alcohol can be part of an enjoyable night out, but drinking safely
  will ensure your have good memories and that you keep your license.

= render 'report_footer', page: "facts"
