%h1 YOUR RESULTS

%p Thanks for completing the survey #{@participant.name}.

%p
  Here you will find some feedback based on the answers you provided as well as
  some information on reducing the risk of harm which you may find useful.

- unless (@participant.display_dpo? || @participant.display_dpw?) && @participant.audit <= 7
  = render :partial => 'audit_report'

- unless @participant.audit_only?
  %h3 Your Blood Alcohol Content

  %table
    %tr
      %td
        %p
          Your estimated Blood Alcohol Content (BAC) for your heaviest drinking
          occasion is
          %span.report #{@participant.bac}%

        %p
          Your BAC is an indication of how intoxicated you are, with a higher BAC
          corresponding with a greater likelihood of experiencing alcohol-related
          harm, especially when driving.

        %p
          This estimate takes into account your gender, weight, the number of
          standard drinks consumed and the number of hours over which you
          reported drinking this amount.

      %td
        = image_tag get_speedo(@participant.bac), :alt => get_speedo_alt(@participant.bac), :size => "300x300"

%h3 Your Money

%p
  Depending on where you buy your drinks (i.e. a bottle store, pub or club),
  you have spent between
  %span.report= number_to_currency @participant.money[0], :precision => 0
  and
  %span.report= number_to_currency @participant.money[1], :precision => 0
  on alcohol in the last year.

- if @participant.display_dpo? || @participant.display_dpw?
  %h3 Your Drinking Amount Compared

  - if @participant.display_dpo?
    = render :partial => 'drinks_per_occasion'

  - if @participant.display_dpw?
    = render :partial => 'drinks_per_week'

- unless @participant.audit_only?
  %h3 Your Risk Of Alcohol Dependence

  %p
    How in control of your drinking are you? The 10 questions you answered at the
    end of the questionnaire were from the Leeds Dependence Questionnaire, a
    validated clinical measure of the severity of alcohol dependence.

  %p
    Generally speaking, the higher the score the more reason for concern that
    your drinking may be out of control. Your score was
    %span{:style => "color: red;"}
      %strong= @participant.ldq
    and suggests that...

  %p
    != ldq_suggestion(@participant.ldq)

  %p#next_page
    Please see the SUPPORT section on the next page for options.

= form_tag report_save_url(:key => @participant.key) do
  %div{:style => "width: 100%; margin: 4em; text-align: center;"}
    = hidden_field_tag "timer", 0, :class => "timer"
    = hidden_field_tag "page", "report"
    = submit_tag "Continue", :style => "font-size: 160%"

:javascript
  $(configureReport);
