= render "tabbar", :active => :support

%p
  Some people can stop or reduce their drinking by themselves, whilst others
  might need some support. Here are some options:

.contact
  %h3 Hunter New England Local Health District

  %p
    %strong Drug and Alcohol Clinical Services Central Intake

  %p
    %strong Contact Information
    %br
    Hunter (Monday – Friday 8am – 4pm) Phone: (02) 4923 2060
    %br
    Northern (Monday – Friday 8am – 4:30pm) Phone: 1300 660 059
    %br
    Manning (Monday – Friday 8:45am – 5pm) Phone: 1300 662 263

  %p
    %strong Associated Drug and Alcohol Clinical Units

  %p
    %strong Calvary Mater Newcastle Alcohol and Drug Unit

  %p
    %strong Contact Information
    %br
    Phone: (02) 4014 4796

.contact
  %h3
    = link_to "Alcoholics Anonymous Newcastle Districts", "http://www.aa.org.au/contact-central-service-offices.php"

  %p
    For information about AA &amp; general assistance call the 24 hour Helpline 1300 22 22 22.

  %p
    %strong Contact Information
    %br
    Phone: 4964 1555
    %br
    Email:
    = link_to 'aa-newcastle@aa-area-c.org', "mailto:aa-newcastle@aa-area-c.org"

.contact
  %h3
    = link_to "Alcohol and Drug Information Service (ADIS)", "http://www.alcohol.gov.au"

  %p
    ADIS provides 24-hour confidential counselling, referral, information &amp;
    advice to anyone concerned about their own or another's alcohol or other
    drug use.

  %p
    %strong Contact Information
    %br
    Phone: 1800 422 599 or (02) 9361 8000

.contact
  %h3
    = link_to "Awabakal Medical Centre", "http://www1.hnehealth.nsw.gov.au/AboriginalHealthInfo/IndigenousHealthServices.cfm"

  %p
    Specialist support and services for Aboriginal and Torres Strait Islander
    People.

  %p
    %strong Contact Information
    %br
    Phone: 4969 2424 or 1800 AWABAKAL

.contact
  %h3
    = link_to "Turning Point Alcohol and Drug Centre", "http://www.counsellingonline.org.au"

  %p
    Turning Point offers a 24 hour phone and online counselling services where
    you can communicate with a professional counsellor about an alcohol or drug
    related concern. This service is free for anyone seeking help with their
    own drug use or the drug use of a family member, relative or friend.

  %p
    %strong Contact Information
    %br
    Phone: 1800 888 236

= render 'report_footer', page: "support"
