!!!
%html
  %head
    %title HOAP
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    #content
      %p{:class => "error"}= flash[:error]
      %p{:class => "notice"}= flash[:notice]
      = yield

